
html, body{
    background-color: #EFF1FA;
    margin: 0;
    height: 100%;
    width: 100%;
}

main{
width: auto;
height: 96%;
}
.contenedor{
    width:auto;
    height: 100%;
    margin:0 ;
    display: flex;

}

.icon{
    margin: 0px 0px 0px 0px;
}
.inputContainer{
    width: 60%;
    height: 99%;
    margin: 0 10px;
    position:  relative;
    display: flex;
}

.campoTexto{
    width: max-content;
    height: 90%;
    margin: 0 auto;
}

.cuadroTexto{
    margin: 40px 0 0 0;
    width: 100%;
    height: 90%;
    background-color: transparent;
    border: none;
    font-size: 60px;
    resize: none;
    outline-style: none;
}

.campoTexto ul{
    display: flex;
    list-style: none;
    padding: 0 10px;
}

.campoTexto li{
    margin: 0 5px;
}


.campoTexto p{
    font-size: .9em;
    color: dimgray;
    margin-top: 2px;
    margin-bottom: 0;
}

.cajaBotones{
    height: 10%;
    width: 100%;
    position: absolute;
    margin: 0 auto;
    bottom: 0;
}

.cajaBotones ul{
    display: flex;
    list-style: none;
    justify-content: center;
}

.cajaBotones li{
    padding: 10px 60px;
}

.encriptar{
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.encriptar span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.encriptar:hover span {
    background: none;
  }

.desencriptar{
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.desencriptar span {
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.desencriptar:hover span{
    background-color: rgb(5, 6, 45);
}

.popup{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.contenido{
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 30%;
    font-weight: bolder;
    text-align: center;
}

.contenido img{
    width: 300px;
    height: auto;
}

.show {
    display: block;
}

.outputContainer{
    width: 30%;
    height: 98%;
    margin: 0px 20px;
    border-width: 1px;
    border-radius: 40px;
    background: white;
    box-shadow: inset 0px 0px 5px 3px #EFF1FA;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    position: relative;
    display: grid;
}

.noData{
    height: 80%;
    width: 100%;
    display: block;
}

.noData ul{
    height: 80%;
    margin:  20% 0 0 0;
    list-style-type: none;
    text-align: center;
}

#noMensaje{
    height: auto;
    border: none;
    resize: none;
    font-size:xx-large;
    color:#464545;
    text-align: center;
    outline-style: none;
}

#ingresaTexto{
    width: 90%;
    border: none;
    resize: none;
    font-size:large;
    color:#706e6e;
    text-align: center;
    outline-style: none;

}

.botonCopiar{
    position: absolute;
    width:  30px;
    bottom: 3%;
    right: 0;
    left: 0;
    margin: auto;
    place-self: center;
    display: none;
}

.copiar {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.copiar:before {
    content: "";
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-copiar 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-copiar {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.copiar:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}


footer{
    width: auto;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2%;
    background-color: rgb(5, 6, 45);
    font-size: .8em;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 1rem;
    position: absolute;
    text-align: center;
}

footer p{
    font: 1em sans-serif;
    color: #FFFFFF;
    
}

@media only screen and (max-width: 540px) {

    body{
        height: 100%;
    }
    h1{
        margin-bottom: 0;
    }
    .contenedor{
        display: block;
        position: relative;
    }

    .inputContainer{
        height: 50%;
        padding-bottom: 0;
        margin: 0 0;
    }

    .cuadroTexto{
        margin-top: 0;
        font-size: 30px;
        height: 70%;
    }

    .campoTexto{
        height: 80%;
    }

    .campoTexto p{
        margin-top: 5px;
        margin-bottom: 3px;
    }
    
    .cajaBotones{
        
        justify-content: center;
    }
    .cajaBotones li{
        padding: 5px 60px;
        margin: 0 auto;
    }
    .cajaBotones ul{
        
        display: block;
        margin-top: 0;
    }

    footer{
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        right: 0;
    }


}

@media only screen and (max-width: 1280px){
    html,.body{
        height: 100%;
        width: 100%;
    }
    .contenedor{
        display: block;
        position: relative;
    }
    .inputContainer{
        height: 55%;
        width: 100%;
        padding: 0 0 20px 0;
    }
    .cuadroTexto{
        width: 100%;
    }
    .outputContainer{
        position: absolute;
        margin: 20px 0 0 0;
        height: 29%;
        width: 100%;
        bottom: 0;
        background-color: #EFF1FA;
    }
    .noData{
        width: 90%;
        align-items: start;
    }
    .noData ul{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .noData img{
        display: none;
    }
    #noMensaje{
        width: 700px;
    }
}

